/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TITLE */
.title {
    padding: 24px;
    text-align: center;
    color: red;
    font-size: 50px;
}

/* CARDS */
.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.w-33 {
    width: calc((100% - 20px) / 3)
}

.row {
    display: flex;
}

img {
    height: 100px;
}

.info-card {
    background-color: #0F0E17;
    color: white;
    padding: 0 24px;
}

a {
    color: #4CC5E8;
}


/* Test - my method */
.blocks {
    background-color: aqua;
    padding: 20px;
    display: flex;
    color: white;
    gap: 15px;
}